:root {
  /* fonts */
  --font-open-sans: "Open Sans";

  /* font sizes */
  --font-size-base: 24px;

  /* Colors */
  --color-white: #fff;
  --color-gray-100: #e6e6e6;
  --color-gray-200: #1a1a1a;
}
