:root {
  /* fonts */
  --font-open-sans: "Open Sans";

  /* font sizes */
  --font-size-xs: 12px;
  --font-size-sm: 14px;
  --font-size-base: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --font-size-2xl: 24px;

  /* Colors */
  --white: #fff;
  --secondary: #f2f2f2;
  --neutral-1: #e6e6e6;
  --primary: #1a1a1a;

  /* Gaps */
  --gap-sm: 16px;
  --gap-md: 24px;
  --gap-lg: 40px;

  /* Paddings */
  --padding-sm: 8px;
  --padding-md: 16px;
  --padding-lg: 24px;

  /* border radiuses */
  --br-sm: 12px;
  --br-md: 16px;
}
