body {
  margin: 0;
  line-height: normal;
}
.faqs {
  text-decoration: none;
  position: relative;
  font-weight: 600;
  color: inherit;
  display: inline-block;
}
.links-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.icon,
.placeholder-icon {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon {
  height: 89.58%;
  width: 52.08%;
  top: 5.21%;
  right: 21.88%;
  bottom: 5.21%;
  left: 26.04%;
}
.icon-facebook {
  text-decoration: none;
  position: relative;
  width: 24px;
  height: 24px;
  flex-shrink: 0;
}
.icon1,
.icon2 {
  position: absolute;
  height: 89.58%;
  width: 89.58%;
  top: 5.21%;
  right: 5.21%;
  bottom: 5.21%;
  left: 5.21%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.icon2 {
  height: 81.24%;
  width: 97.92%;
  top: 9.38%;
  right: 1.04%;
  bottom: 9.38%;
  left: 1.04%;
}
.social-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 24px;
}
.footer-div,
.true-to-its-name-we-use-simpl {
  position: absolute;
  display: flex;
  align-items: center;
}
.footer-div {
  bottom: 0;
  left: calc(50% - 214px);
  background-color: var(--secondary);
  width: 428px;
  flex-direction: column;
  padding: var(--padding-md) 62px;
  box-sizing: border-box;
  justify-content: center;
  gap: var(--gap-md);
}
.true-to-its-name-we-use-simpl {
  margin: 0;
  top: 30px;
  left: calc(50% - 135px);
  font-size: inherit;
  font-weight: 400;
  font-family: inherit;
  width: 325px;
  opacity: 0.8;
}
.div {
  position: relative;
  font-weight: 600;
  display: inline-block;
}
.number-div {
  position: absolute;
  top: 0;
  left: 0;
  border-radius: var(--br-md);
  background-color: var(--secondary);
  display: flex;
  flex-direction: column;
  padding: var(--padding-sm) var(--padding-md);
  box-sizing: border-box;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: center;
  font-size: var(--font-size-sm);
}
.simple-div {
  position: relative;
  width: 380px;
  height: 87px;
  flex-shrink: 0;
}
.extreme-data-privacy {
  margin: 0;
  position: absolute;
  top: 0;
  left: calc(50% - 135px);
  font-size: var(--font-size-lg);
  font-weight: 600;
  font-family: inherit;
  display: inline-block;
}
.features-div {
  position: absolute;
  top: 828px;
  left: calc(50% - 190px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-md);
}
.mobile-icon {
  position: absolute;
  top: 279px;
  left: calc(50% - 148px);
  width: 295px;
  height: 509px;
  object-fit: cover;
}
.container-div {
  position: absolute;
  top: 0;
  left: calc(50% - 80px);
  border-radius: var(--br-md);
  background-color: var(--white);
  border: 1px solid var(--primary);
  box-sizing: border-box;
  width: 160px;
  height: 40px;
}
.learn-more-div {
  position: absolute;
  top: 10px;
  left: calc(50% - 44px);
  font-size: var(--font-size-base);
  font-weight: 600;
  font-family: var(--font-open-sans);
  color: var(--primary);
  text-align: center;
  display: inline-block;
}
.container-div1,
.learn-more-button {
  position: absolute;
  top: 0;
  width: 160px;
  height: 40px;
}
.learn-more-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  left: calc(50% + 7px);
}
.container-div1 {
  left: calc(50% - 80px);
  border-radius: var(--br-md);
  background-color: var(--primary);
}
.google-play-icon {
  position: absolute;
  top: 8px;
  left: calc(50% - 60px);
  width: 21px;
  height: 24px;
}
.get-the-app {
  position: absolute;
  top: 10.5px;
  left: calc(50% - 27px);
  font-size: var(--font-size-base);
  font-weight: 600;
  font-family: var(--font-open-sans);
  color: var(--secondary);
  text-align: center;
  display: inline-block;
}
.buttons-div,
.download-app-button {
  position: absolute;
  left: calc(50% - 167px);
  height: 40px;
}
.download-app-button {
  cursor: pointer;
  border: 0;
  padding: 0;
  background-color: transparent;
  top: 0;
  width: 160px;
}
.buttons-div {
  top: 199px;
  width: 334px;
}
.writing-app {
  font-weight: 600;
}
.the-cleanest-writing-app-ever {
  margin: 0;
  position: relative;
  font-size: inherit;
  display: inline-block;
  font-family: inherit;
}
.write-down-your {
  margin-block-start: 0;
  margin-block-end: 0;
}
.that-into-a {
  margin: 0;
}
.write-down-your-thoughts-or-ta {
  margin: 0;
  position: relative;
  font-size: var(--font-size-base);
  font-weight: 400;
  font-family: inherit;
  display: inline-block;
  width: 381px;
  opacity: 0.8;
}
.text-div {
  position: absolute;
  top: 96px;
  left: calc(50% - 191px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  text-align: center;
  font-size: 24px;
}
.container-div2 {
  position: absolute;
  top: 0;
  left: calc(50% - 214px);
  background-color: var(--white);
  width: 428px;
  height: 56px;
}
.separator-div {
  position: absolute;
  top: 55.5px;
  left: calc(50% - 214.5px);
  border-top: 1px solid var(--neutral-1);
  box-sizing: border-box;
  width: 429px;
  height: 1px;
}
.brand-icon-logo {
  position: absolute;
  top: 14px;
  left: calc(50% - 77px);
  width: 154px;
  height: 28px;
}
.navigation-bar-header {
  position: absolute;
  top: 0;
  left: calc(50% - 214px);
  width: 428px;
  height: 56px;
}
.mobile-div {
  position: relative;
  background-color: var(--white);
  width: 100%;
  height: 1252px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--primary);
  font-family: var(--font-open-sans);
}
